@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDJ8fGJsdXUlMjB3aGl0ZXxlbnwwfHx8fDE2OTY5NTQ1NzE&ixlib=rb-4.0.3&q=80&w=1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.container:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.chat-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* 
.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 600px;
    border: 1px solid #ccc;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
} */

.chat-form {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    border: 1px solid #ccc;   
}

.chat-form input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border-radius: 100px;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.chat-controls {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.chat-controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}
.file-upload-wrapper {
    position: relative;
}

